.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.loading {
  background-color: #fff;
  position: absolute !important;
  z-index: $loadingZIndex;
}

.offline {
  text-align: center;
  border: 1px solid red;
  background-color: #ffd0d0;
  color: #383838;

  .icon {
    margin-right: 10px;
  }
}
